.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px;
    border-radius: 20px;
    margin: 20px auto;
    width: 80%;
    /* background-color: hsla(277, 82%, 28%, 0.2); */
    box-shadow: 0 4px 20px rgba(83, 18, 129, 0.86);
  }
  
  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 20px;
  }
  
  .project-item {
    background: linear-gradient(267deg, rgba(112, 14, 139, 0.2), rgba(168, 9, 160, 0.645));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project-item h3 {
    font-size: 24px;
    color: #330940;
    margin-bottom: 10px;
  }
  
  .project-item p {
    font-size: 16px;
    color: #ffffff;
  }
  
  .project-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .project-links a {
    color: #58146d;
    font-size: 1.5rem;
  }
  
  .project-links a:hover {
    color: #652277;
  }
  
  .project-links .icon {
    font-size: 2rem;
    margin-right: 10px;
    color: #cec8d0;
  }
  
  .project-section h2{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }