.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
   
}

.subcontainer {
    background: linear-gradient(267deg, rgba(112, 14, 139, 0.2), rgba(171, 9, 186, 0.645));
    /* border: 5px solid rgb(64, 53, 53); */
    box-shadow: 0 4px 20px rgba(114, 110, 117, 0.86);
    padding: 50px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    flex-direction: row;
    width: 50%;
    gap: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background 0.3s, transform 0.2s, opacity 0.5s, transform 0.5s;
    opacity: 0; /* Initially hidden */
    transform: translateY(50px); /* Initially positioned below */
}

.subcontainer.visible {
    opacity: 1; /* Become visible */
    transform: translateY(0); /* Move to original position */
}

.subcontainer:hover {
    background: linear-gradient(267deg, rgb(86, 10, 107), rgb(108, 8, 81));
    transform: scale(1.07);
}

.subcontainer img {
    padding: 5px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subcontainer div {
    flex-grow: 1;
}

.subcontainer h2 {
    font-size: 24px;
    color: #966ca2;
    margin-bottom: 5px;
}

.subcontainer h3 {
    font-size: 18px;
    color: #7b6e7e;
    margin-bottom: 10px;
    font-style: italic;
}

.subcontainer p {
    font-size: 16px;
    color: #767676;
    margin: 0;
}

/* Animation for scroll reveal */
@keyframes pop-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.subcontainer.visible {
    animation: pop-up 4.5s ease-in-out;
}


