.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.navbar img {
  flex-shrink: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px; /* Adjusted for better layout */
  font-size: 20px;
  margin: 0 auto;
  flex: 1;
  justify-content: center;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, rgb(112, 14, 139), rgb(148, 11, 111));
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
  flex-shrink: 0;
  margin-left: 20px; /* Adds spacing between Contact and button */
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-connect a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.link:hover {
  color: rgb(127, 104, 136);
}
